<article class="item">
  <div class="item--title">
    <strong>{{ item1 }}</strong>
  </div>
  <div class="item--info">
    <div class="stat">
      <div class="stat--title">Altura:</div>
      <div class="stat--info"> {{ item2 }}</div>
    </div>
    <div class="stat">
      <div class="stat--title">Género:</div>
      <div class="stat--info">{{ item3 }}</div>
    </div>
    <div class="stat">
      <div class="stat--title">Películas:</div>
      <div class="stat--info stat-info__array">
        <div>stat 3</div>
      </div>
    </div>
  </div>
</article>