.item
    border: 1px solid black
    padding: .3rem
    width: 250px
    margin-bottom: .5rem
    &--title
        font-weight: 600
    & .stat
        display: flex
        justify-content: space-between